.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
  /* background-color:pink; */
  /* border-color: black;
  border-style: double; */
  margin-bottom: 300px;
  border-bottom: 0px;

}
  .row{
    /* background-color:pink; */
  /* border-color: black;
  border-style: double; */
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    /* background-color:pink; */
  /* border-color: black;
  border-style: double; */
  }

  h2{
    text-align: center;
    font-size: 80px;
    /* background-color: yellow; */
  }
  
  select{
    width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

  }
  
  /* div {
    border: 1px solid blue;
  }  */
   /* body{
    border: 1px solid red;
  } */
  button{
    border: 0.5px solid black;
    width: 200px;
    height:fit-content;
    color:black;
    font-size:medium;
    float:right;
  }
  button:hover{
    transition: 0.2s;
    background-color:darkred;
    color:white;
  }
  .row{
    margin: auto;
  }

  .flex-wrapper{
    display: flex;
  }
  input{
    width:100%;
  }

  .logout{
    position:fixed;
   right:10px;
   top:5px;
   background-color: lightblue;
  }