.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  h1{
    text-align: right;
  }
  div {
    border: 1px solid blue;
  }
  body{
    border: 1px solid red;
  }
  button{
    border: 1px solid black;
  }
  .row{
    margin: auto;
  }

  .flex-wrapper{
    display: flex;
  }
  input{
    border: 1px solid black;
  }