body {
  background-image: url("../assets/backgroundimg-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}


.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid rgb(255, 254, 254);
    border-radius: 10px;
    margin: 0.5rem;
    background-image: linear-gradient(79deg, #ce9797, #cc0000, #ce9797);

  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}


button {
  border: none;
  background-color: white;
  padding: 18px;
<<<<<<< HEAD
  font-size: 12px; /* change font size */
=======
  font-size: 20px; /* change font size */
>>>>>>> back-end
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  margin-top: 1rem; /* add margin */
<<<<<<< HEAD
}

button.goBack {
  padding: 18px; /* change button padding */
  font-size: 12px; /* change font size */
=======
  /* top:50%; */
  /* width: 100%; */
  border: #cc0000;
}

.goBack {
  padding: 18px; /* change button padding */
  font-size: 18px; /* change font size */
>>>>>>> back-end
  width: 100%; /* set width */
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}
