* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background: white;

  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    font-size: 30;
  }
  
  .accordion {
    max-width: 600px;
    margin: 2rem auto;
  }

  .accordion-item{
    margin-bottom: 10px;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: darkred;
    color: white;
    /*border-radius: 1 rem;*/
    border-radius: 15px;
  }
  
  .accordion-title:hover {
    background-color: darkred;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
    background-color: darkred;
  }
  

  }
  
  .accordion-content {
    background-color: white;
    overflow: hidden;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
  }
  
  .accordion-item{
    border-radius: 2px;
  }


  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 200%;
    }
  }

  .timeline {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 500px; /* 设置高度 */
  }
  
  .timeline-item {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  .timeline-item-content {
    margin: 20px;
  }

  
